{% extends 'base.html.twig' %} {% block title %}Hello{% endblock %} {% block
body %} 
<div class="container-fluid ">
  <div class="row">
      {% for person in persons %}
    <div class="card col-3">
      <img src="{{ person.imagePath }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ person.name }}</h5>
        <p class="card-text">{{ person.description }}</p>
        <p class="card-text">{{ person.isFrench }}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

 {% endblock %}
